version: '3'

services:
  mariadb:
    container_name: mariadb
    build:
      context: requirements/mariadb
      dockerfile: Dockerfile
    volumes:
      - mariadb:/var/lib/mysql
    ports: 
      - 3306:3306
    env_file: 
      - .env
    networks:
      - docker_network
    restart: always

  wordpress:
    depends_on:
      - mariadb
    container_name: wordpress
    build:
      context: requirements/wordpress
      dockerfile: Dockerfile
    volumes:
      - wordpress:/var/www/wordpress
    env_file: 
      - .env
    networks:
      - docker_network
    restart: always

  nginx:
    depends_on:
      - wordpress
    container_name: nginx
    build:
      context: requirements/nginx
      dockerfile: Dockerfile    
    ports: 
      - 443:443
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - docker_network
    restart: always

volumes:
  mariadb:
    driver: local
    driver_opts:
      type: none
      device: /home/lmaurin-/data/mariadb
      o: bind
  wordpress:
    driver: local
    driver_opts:
      type: none
      device: /home/lmaurin-/data/wordpress
      o: bind

networks:
  docker_network:
    driver: bridge