version: '3'

services:
  mariadb:
    image: mariadb
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    volumes:
      - /home/lmaurin-/data:/app/config
    env_file: 
      - .env
    networks:
    - docker_network
    restart: always

  wordpress:
    depends_on:
      - mariadb
    image: wordpress
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    ports:
      - 9000:80
    volumes:
      - /home/lmaurin-/data:/var/www/html
    env_file: 
      - .env
    networks:
      - docker_network
    restart: always

  nginx:
    depends_on:
      - wordpress
    image: nginx
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile    
    ports: 
      - "443:443"
    networks:
      - docker_network
    restart: always

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      device: /home/lmaurin-/data/mysql
      o: bind
  wordpress:
    driver: local
    driver_opts:
      type: none
      device: /home/lmaurin-/data/wordpress
      o: bind

networks:
  docker_network:
    driver: bridge