version: '3'

services:
  mariadb:
    image: mariadb
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    volumes:
      - /home/lmaurin-/data:/app/config
    env_file: 
      - .env
    networks:
    - docker_network
    restart: always

  wordpress:
    image: wordpress
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile    
    volumes:
      - /home/lmaurin-/data:/var/www/html
    depends_on:
      - nginx
    env_file: 
      - .env
    networks:
      - docker_network
    restart: always

  nginx:
    image: nginx
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile    
    ports: 
      - "443:80"
    networks:
      - docker_network
    restart: always

volumes:
  mariadb:
  wordpress:

networks:
  docker_network: